<div >
    <div class="card-body d-flex align-items-center">
        <form #show="ngForm" (submit)="getAllNomineesRelatedToAccount()">
            <label for="nomineeId" style="margin-right: 20px;" class="me-20">Enter Account Number -</label>
            <input required="true" type="number" id="num" name="num" [(ngModel)]="accountId" #acc="ngModel" min="1" class="form-control me-30"/>
            <div *ngIf="acc.invalid==true && acc.pristine==false && acc.touched==false"></div>
            <button class="btn-primary" [disabled]="show.invalid" type="submit">Get Information</button>
        </form>
    </div>
    
    <table class="table">
        <thead>
            <tr >
                <th>Nominee Id</th>
                <th>Name</th>
                <th>Government Id</th>
                <th>Government Id Type</th>
                <th>Contact Details</th>
                <th>Relation</th>
            </tr>
        </thead>
      
        <tbody id="accountBody">
            <tr *ngFor="let nominee of allNominees">
                <td style="color: rgb(56, 17, 198);">{{nominee.nomineeId}}</td>
                <td style="color: peru;">{{nominee.name}}</td>
                <td style="color: peru;">{{nominee.govtId}}</td>
                <td style="color: peru;">{{nominee.govtIdType | uppercase}}</td>
                <td style="color: peru;">{{nominee.phoneNo}}</td>
                <td style="color: peru;">{{nominee.relation}}</td> 
              </tr>
        </tbody>
    </table>  
</div>