<div style="display: flex;justify-content: space-evenly; padding-top: 30px;">
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="onSubmit()">
                <div class="container mt-2">
                    <h3 class="font-weight-bold text-info text-center">Purchase Policy</h3><br>
                </div>
                <table class="table">
                    <tr>
                        <td>
                            <label for="accountId" class="form-label">Account Id</label>
                        </td>
                        <td> 
                            <div class="form-group">
                                <input type="text" [(ngModel)]="dto.accountId" class="form-control" id="accountId" name="accountId">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="policyNumber" class="form-label">Policy Id</label>
                        </td>
                        <td> 
                            <div class="form-group">
                                <input type="text" [(ngModel)]="pol_dto.policyNumber" class="form-control" id="policyNumber" name="policyNumber">
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Buy Policy</button>
                </div>
            </form>
        </div> 
    </div>
  </div>
