<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
            font-family: arial;
            margin: 10px;
            padding: 9px;
            border-radius: 20px;
        }

        .card-img-top {
            max-width: 91%;
             height: auto;
            border-radius: 25px;
        }

        .card-columns {
            column-count: 3;
        }
        
        
    </style>
</head>
<body>
    <div class="container">
        

        <div class="d-flex justify-content-between flex-wrap">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./learners-permit-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Learning Licensee</h5>
          <button type="button" class="btn btn-primary">Apply </button>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./drivers-license-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Permanant Licensee</h5>
          <button type="button" class="btn btn-primary">Apply  </button>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./drivers-license-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Book Appointment</h5>
          <button type="button" class="btn btn-primary">Book now </button>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./learning License.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>Renew Learning Licensee</b></h5>
          <button type="button" class="btn btn-primary">Renew LL </button>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./learning License.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>Renew Permanant Licensee</b></h5>
          <button type="button" class="btn btn-primary">Renew DL </button>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./learning License.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>View Licensee</b></h5>
          <button type="button" class="btn btn-primary">View My License </button>
          
          </div>
        </div>
      </div>
    </div>
        
       

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> -->
