<div style="display: flex;justify-content: space-evenly; padding-top: 30px;">
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="onSubmit()">
                <div class="container mt-2">
                    <h3 class="font-weight-bold text-info text-center">Request New Debit Card</h3><br>
                </div>
                <table class="table">
                    <tr>
                        <td>Account Id - </td>
                        <td> 
                          <div class="form-group">
                            <input type="number" id="accountId" [(ngModel)]="dto.accountId" name="accountId" class="form-control" required>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Account Holder Name - </td>
                        <td> 
                          <div class="form-group">
                            <input type="text" id="accountHolderName" [(ngModel)]="dto.accountHolderName" name="accountHolderName" class="form-control" required>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone No - </td>
                        <td> 
                          <div class="form-group">
                            <input type="tel" id="phoneNo" [(ngModel)]="dto.phoneNo" name="phoneNo" class="form-control" required>
                          </div>
                        </td>
                    </tr>
                </table>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary ms-2">Request New Debit Card</button>
                </div>
            </form>
        </div> 
    </div>
  </div>