<div style="display: flex;justify-content: space-evenly; padding-top: 30px;">
    <div class="card">
        <div class="card-body">
            <form #nomineeForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="container mt-2">
                    <h3 class="font-weight-bold text-info text-center">Create New Debit Card</h3><br>
                </div>
                <table class="table">
                    <tr>
                        <td>
                            <label for="debitCardLimit" class="form-label">Debit Card Limit - </label>
                        </td>
                        <td>  
                            <input type="number" [(ngModel)]="dto.debitCardLimit" id="debitCardLimit" name="debitCardLimit" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="debitCardPin" class="form-label">Debit Card Pin - </label>
                        </td>
                        <td> 
                            <input type="number" [(ngModel)]="dto.debitCardPin" id="debitCardPin" name="debitCardPin" class="form-control" required>
                        </td>
                    </tr>
                </table>
                <div class="text-center mt-3">
                    <input type="submit" class="btn btn-primary" value="Create Debit Card" />
                </div>
            </form>
        </div> 
    </div>
</div>