<div>
    <h2>Account Details</h2>
    <p>Account ID: {{ dto.accountId }}</p>
    <p>Account Holder Name: {{ dto.accountHolderName }}</p>
    <p>Account Holder Age: {{ dto.age }}</p>
    <p>Account Balance: {{ dto.balance }}</p>
    <p>Account Holder Email: {{ dto.emailId }}</p>
    <p>Account Holder Gender: {{ dto.gender }}</p>
    <p>Interest Rate: {{ dto.interestRate }}</p>
    <p>Phone Number: {{ dto.phoneNo }}</p>
    <p>Account Opening Date: {{ dto.dateOfOpening }}</p>
    <p>Account status: {{ dto.accountStatus }}</p>
</div>
  
<!-- <button class="btn btn-primary ms-2" (click)="doShowMyAccount()">Show My Account</button>
   -->