<div style="display: flex;justify-content: space-evenly; padding-top: 30px;">
  <div class="card">
      <div class="card-body">
          <form (ngSubmit)="onSubmit()">
              <div class="container mt-2">
                  <h3 class="font-weight-bold text-info text-center">Change Debit Card PIN</h3><br>
              </div>
              <table class="table">
                  <tr>
                      <td>Debit Card Number - </td>
                      <td> 
                        <div class="form-group">
                          <input type="number" id="debitCardNumber" [(ngModel)]="dto.debitCardNumber" name="debitCardNumber" class="form-control">
                        </div>
                      </td>
                  </tr>
                  <tr>
                      <td>New PIN - </td>
                      <td> 
                        <div class="form-group">
                          <input type="password" id="newPin" name="newPin" [(ngModel)]="newPin" class="form-control">
                        </div>
                      </td>
                  </tr>
              </table>
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary ms-2">Change PIN</button>
              </div>
          </form>
      </div> 
  </div>
</div>