
<div >
<label for="nomineeId">Enter Account Id</label>
<input type="number" [(ngModel)]="nomineeId" id="nomineeId" name="nomineeId"/><br>
<button class="btn btn-primary ms-2" (click)="doLoad(nomineeId)">Show Nominee By Nominee Id</button>
<button  style="margin-left: 20px;" class="btn btn-primary ms-2" (click)="deleteByID_Ashish(nomineeId)">Delete Nominee_Ashish</button>
<div>
    <h2>Enter Nominee Id - {{ nomineeId }}</h2>
    <p>Nominee Id: {{nominee.nomineeId }}</p>
    <p>Nominee Name: {{ nominee.name }}</p>
    <p>Government Id Number: {{nominee.govtId}}</p>
    <p>Government Id Type: {{ nominee.govtIdType }}</p>
    <p>Contact Details: {{ nominee.phoneNo}}</p>
    <p>Relation: {{ nominee.relation }}</p>
</div>
</div>
