<div >
    <div class="card-body d-flex align-items-center">
        <label for="nomineeId" style="margin-right: 20px;" class="me-20">Enter Nominee-Id</label>
        <input type="number" [(ngModel)]="nomineeId" id="nomineeId" name="nomineeId" #nomId="ngModel" min="1" class="form-control me-30"/>
        <div *ngIf="nomId.invalid==true" style="color: red;">Provide Correct Nominee Id</div>
        <button class="btn btn-primary" style="margin-left: 20px;" (click)="doLoad(nomineeId)">Show Nominee By Nominee Id</button>
        <button style="margin-left: 20px;" class="btn btn-primary btn-danger" (click)="deleteByID(nomineeId)">Delete Nominee </button>
    </div>
    <div class="card mt-4 mx-auto" style="max-width: 600px;">
        <div class="card-header">
            <h2 class="card-title">Nominee Details of - {{ nomineeId }}</h2>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text">Nominee Id:</p>
                    <p class="card-text">Nominee Name:</p>
                    <p class="card-text">Government Id Number: </p>
                    <p class="card-text">Government Id Type:</p>
                    <p class="card-text">Contact Details:</p>
                    <p class="card-text">Relation:</p>
                </div>
                <div class="col-md-6">
                    <p class="card-text">{{ nominee.nomineeId }}</p>
                    <p class="card-text">{{ nominee.name }}</p>
                    <p class="card-text">{{ nominee.govtId }}</p>
                    <p class="card-text">{{ nominee.govtIdType }}</p>
                    <p class="card-text">{{ nominee.phoneNo }}</p>
                    <p class="card-text">{{ nominee.relation }}</p>
                </div>
            </div>
        </div>
    </div>
</div>