<nav>
    <ul>
      <button class="btn btn-primary ms-2" routerLink="/admin/all/account">Show All Account</button><br><br>
      <button class="btn btn-primary ms-2" routerLink="/admin/id">Show Account By Account Id</button><br><br>
      <button class="btn btn-primary ms-2" routerLink="/admin/approve">Approve Pending Accounts</button><br><br>
      <button class="btn btn-primary ms-2" routerLink="/admin/approve/card">Show all Requests</button>
      <button class="btn btn-primary ms-2" routerLink="/create-policy">Create Policy</button>
      <button class="btn btn-primary ms-2" routerLink="/update-policy">Update Premium Amount</button>
      <button class="btn btn-primary ms-2" routerLink="/fetch-policy">All Policies</button>
    </ul>
  </nav>