<div>
    <h2>Transaction Details</h2>
    <form #depositForm='ngForm' (ngSubmit)="doDeposit()">
        
        <label>Transaction Amount</label>
        <input type ="number" id="amount" name="amount" [(ngModel)]="amount" #amount1="ngModel" min="1">
        <div *ngIf="amount1.invalid==true && amount1.pristine==false && amount1.touched==true" style="color: red;">Amount less than Zero Cannot be Entered </div>
        <br><br>
        <label>Transaction Remark</label>
        <input required="true" type="text" [(ngModel)]="depositDto.transactionRemarks" id="transactionRemarks" name="transactionRemarks" #remark="ngModel" pattern="[0-9a-zA-Z]{3,100}">
        <div *ngIf="remark.invalid==true && remark.pristine==false && remark.touched==true" style="color: red;">Please Provide Proper Remark</div>
        <br><br>
       
        <button type="submit" class="btn btn-primary ms-2" [disabled]="depositForm.invalid">Deposit</button><br><br>
        
    </form>
    <button style="margin-left: 30;" class="btn btn-primary ms-2" [disabled]="depositForm.invalid" (click)="withdraw()">Withdraw</button><br><br>
    
    

   

    
       
</div>

