<h2>Nominees</h2>
<table id = "accounts">
    <thead>
        <tr>
            <th>Name</th>
            <th>Government Id</th>
            <th>Government Id Type</th>
            <th>Contact Details</th>
            <th>Relation</th>
        </tr>
    </thead>
    <tbody id="accountBody">
        <tr *ngFor="let nominee of allNominees">
            <td>{{nominee.name}}</td>
            <td>{{nominee.govtId}}</td>
            <td>{{nominee.govtIdType}}</td>
            <td>{{nominee.phoneNo}}</td>
            <td>{{nominee.relation}}</td> 
          </tr>
    </tbody>
</table>