<h2>All Accounts</h2>
<button class="btn btn-primary ms-2" (click)="doLoad()">Refresh</button>
<table id = "accounts">
    <thead>
        <tr>
            <th>Account ID</th>
            <th>Account Holder Name</th>
            <th>Phone Number</th>
            <th>Email ID</th>
            <th>age</th>
            <th>Gender</th>
            <th>Interest Rate</th>
            <th>Balance</th>
            <th>Date of Opening</th>
        </tr>
    </thead>
    <tbody id="accountBody">
        <tr *ngFor="let account of allAccounts">
            <td>{{ account.accountId }}</td>
            <td>{{ account.accountHolderName }}</td>
            <td>{{ account.phoneNo }}</td>
            <td>{{ account.emailId }}</td>
            <td>{{ account.age }}</td>
            <td>{{ account.gender }}</td>
            <td>{{ account.interestRate }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.dateOfOpening }}</td>
          </tr>
    </tbody>
</table>
