<div class="dashboard">
    <app-beneficiary></app-beneficiary>
    <app-policy></app-policy>
    <app-transaction></app-transaction>
    <app-debit-card></app-debit-card>
    <app-nominee></app-nominee>
    <button class="btn btn-primary ms-2" routerLink="/register/account" *ngIf="!dto.accountHolderName && !dto.accountId">Register New Account</button><br><br>
    <button class="btn btn-primary ms-2" routerLink="/personal/account">My Account</button><br><br>
    <button class="btn btn-primary ms-2" routerLink="/customer/nominee">Add Nominee</button><br><br>
    <button class="btn btn-primary ms-2" routerLink="/normalUser/viewNominee">View Nominee</button><br><br>
    <button class="btn btn-primary ms-2" routerLink="/normalUser/viewNomineeById">View Nominee By Id</button><br><br>
    <button class="btn btn-primary ms-2" routerLink="/customer/deposit1">Transaction</button>
    
  </div>