<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    
    />
    <title>Bootstrap Form</title>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form style="border: 1px solid #000; border-radius: 20px; box-shadow: 2px 2px 5px #888; padding: 20px;" action="#" method="post">
              <h4>Forgot Password</h4> 
              <div class="form-group">
                <label for="emailInput">Enter Email-Id</label>
                    <input type="email" class="form-control" id="emailInput" placeholder="Enter your email" #email>
                </div>
                <button type="submit" class="btn btn-primary btn-block" (click)="resetPass(email.value)">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
